{{ define "main" }}
{{ $filename := (printf "%s.html" .File.BaseFileName) }}
{{ partial "menu" . }}
<div class="container section">
    <div class="iframe-container">
    	<h3 class="text-center" style="font-size: 1rem; margin-bottom: 0.5rem">{{ .Params.name}}</h3>
        <img src='https://via.placeholder.com/300' height="300px"></img>
    </div>
    <button class="btn share-btn" data-chart='{ "title": "{{.Title}}", "text": "{{.Title}}", "uid": "{{$filename}}" }'>Compartir</button>
    {{ .Content }}
    {{ if .Site.DisqusShortname }}
    {{ template "_internal/disqus.html" . }}
    {{ end }}
</div>
{{ end }}
{{ define "script" }}
<script src='{{ "js/share.js" | absURL }}'></script>
<script src='{{ "js/main.js" | absURL }}'></script>
{{ end }}
