.collapsible {
  margin-right: 1rem;
  width: auto;
}

.collapsible-trigger {
  background-color: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0.5rem 0.1rem 0.5rem;
  font-family: 'Contrail One', cursive;
  font-weight: initial;
  font-size: 1.2rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #5d3dfa;
  align-items: center;
}

.collapsible-trigger:hover {
  background-color: #232323;
  color: #fff;
}

.collapsible-trigger:hover .collapsible-state-icon {
  fill: #fff;
}

.collapsible-trigger:focus {
  outline: none;
}

.collapsible-state-icon {
  width: 1rem;
  padding-left: 0.5rem;
}

.collapsible.opened .collapsible-trigger{
  background-color: #232323;
  color: #fff;
}

.collapsible.opened .collapsible-state-icon {
  transform: rotate(180deg) translateX(-7px);
  fill: #fff;
}

.collapsible-content {
  background-color: #fff;
  display: none;
  padding: 0rem 1rem 1rem 1rem;
}

.collapsible.opened .collapsible-content {
  display: block;
  overflow: scroll;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 11rem;
  text-transform: capitalize;
}

.collapsible.opened .collapsible-item {
  padding: 0.2rem 0rem;
  color: #232323;
  font-weight: lighter;
  text-align: center;
}

.collapsible.opened .collapsible-item:first-of-type {
  padding-top: 0.5rem;
}

.collapsible.opened .collapsible-item:hover {
  color: #5d3dfa;
}
