*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
}

html,
body {
    box-sizing: border-box;
    font-family: 'Contrail One', cursive;
    min-height: 600px;
}

a {
    color: inherit;
    text-decoration: none;
}

.block {
    display: block;
}

.text-center {
    text-align: center;
}

#app {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.container {
  margin: 0 auto;
  width: 100%;
}

.section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.section-banner {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem 0rem;
  text-align: center;
}

.section-title {
  background-color: #fff;
  font-size: 3rem;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  padding: 0.5rem 0.5rem 0rem 0.5rem;
  font-weight: initial;
  display: inline-block;
}

.section-content {
  padding: 1rem 1rem;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
}

.card-title {
  font-size: 1.25rem;
  color: #232323;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
  text-transform: capitalize;
}

.card-description {
  color: #666;
  font-weight: normal;
  text-transform: capitalize;
  margin-top: 0.85rem;
  font-size: 1rem;
  font-family: 'PT Sans Narrow', sans-serif;
  width: 300px;
}

.card-source {
  color: #ccc;
  font-weight: initial;
  font-style: italic;
  font-size: 0.75rem;
  margin-top: 0.85rem;
  width: 300px;
}

.card {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  padding: 1rem;
}

.card-media {
    height: 0;
    padding-bottom: 56.25%;
    width: 100%;
    position: relative;
}

.card-media img {
    height: 100%;
    left: 0;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    width: 100%;
}

.card-media iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.card-body {
    padding: 1.5rem 1rem;
}

.card-actions {
  margin-top: 0.75rem;
}

#graphs .section-banner {
  background-image: url(../images/banner-graphs.png);
}

#graphs .section-title {
  color: #283edd;
}

#graphs .card h3 {
  background-color: #232323;
  color: #fff;
  display: inline-block;
  padding: 0.1rem 0.4rem 0rem 0.4rem;
  text-transform: uppercase;
  font-weight: initial;
}

#graphs .btn {
  background-color: #0016ea;
}

#graphs .btn:hover, #datasets .btn:hover, #reads .btn:hover {
  background-color: #232323;
}

#datasets .section-banner {
  background-image: url(../images/banner-datasets.png);
}

#datasets .section-title {
  color: #5d3dfa;
}

#datasets .btn {
  background-color: #5d3dfa;
}

#reads .section-banner {
  background-image: url(../images/banner-reads.png);
}

#reads .section-title {
  color: #ff0059;
}

#reads .btn {
  background-color: #ff0059;
}

#datasets .card-actions, #reads .card-actions {
  padding-left: 1rem;
}

.charts,
.charts-sm,
.datasets {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    margin-bottom: 3rem;
}

.dataset-img-container{
    overflow: hidden;
}

.btn {
  border: 0;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Contrail One', cursive;
  padding: 0.2rem 0.4rem 0.1rem 0.4rem;
  text-transform: uppercase;
  font-size: 1rem;
  text-decoration: none;
}

.dataset {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    padding-bottom: 1rem;
}

.iframe-container {
    margin-top: 2rem;
    text-align: center;
    margin-top: 2rem;
    width: 100%;
}

.iframe-embed {
    max-width: 800px;
    border: none;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    padding-bottom: 1rem;
}

@media screen and (min-width: 640px) {
    .container {
        width: 640px;
    }

    .charts-sm {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }

    .charts,
    .datasets {
        grid-template-columns: repeat(2, 1fr);
    }

    .charts-sm {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .container {
        width: 1024px;
    }

    .charts,
    .datasets {
        grid-gap: 2.5rem;
    }

    .datasets {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1280px) {
    .container {
        width: 1280px;
    }
}