*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

html,
body {
  box-sizing: border-box;
  font-family: 'Contrail One', cursive;
  min-height: 600px;
}

.text-center {
  text-align: center;
}

.nav {
  align-items: center;
  display: flex;
  height: 4rem;
  justify-content: space-between;
  padding: 0rem 1rem;
}

.nav-brand {
  display: inline-block;
}

.nav-brand img {
  height: 100%;
  width: auto;
}

.nav-item {
  color: #ffffff;
  text-decoration: none;
}

.nav-item:not(:last-of-type) {
  margin-right: 1rem;
}

.nav-pages {
  background-color: #333;
}

#header {
  background-image: url(../images/bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 4rem;
}

.hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8rem 1rem;
  text-align: center;
}

.hero-image {
  max-width: 100%;
}

.hero-tagline {
  color: #481796;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin-top: 2rem;
  background-color: #ffffff;
  display: block;
  padding: 0.25rem 1rem;
  letter-spacing: 0.05em;
}

#app {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.section-title {
  color: #481796;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.card-media {
  height: 0;
  padding-bottom: 56.25%;
  width: 100%;
  position: relative;
}

.card-media img {
  height: 100%;
  left: 0;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  width: 100%;
}

.card-media iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.card-body {
  padding: 1.5rem 1rem;
}

.card-actions {
  padding: 0 1rem;
  margin-top: 0.75rem;
}

.charts,
.datasets {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  margin-bottom: 3rem;
}

.btn {
  background-color: #481796;
  border: 0;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Contrail One', cursive;
  padding: 0.5rem;
  text-transform: uppercase;
  font-size: 0.875rem;
  text-decoration: none;
}

.dataset {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  padding-bottom: 1rem;
}

.dataset-title {
  font-size: 1.25rem;
}

.dataset-description {
  margin-top: 0.75rem;
  font-size: 1rem;
  font-family: 'PT Sans Narrow', sans-serif;
}

.iframe-container {
  margin-top: 2rem;
}

footer {
  font-size: 0.875rem;
  padding: 2vw;
}

footer a {
  text-decoration: underline;
  color: white;
}

.footer-inner {
  margin: 0 auto;
  width: 80%;
}

@media screen and (min-width: 640px) {
  .container {
    width: 640px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .charts,
  .datasets {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
  }

  .charts,
  .datasets {
    grid-gap: 2.5rem;
  }

  .datasets {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}
