<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Site.Title }}</title>
  {{ template "_internal/google_analytics_async.html" . }}
  {{ $style := resources.Get "css/tailwind.pcss" | toCSS | postCSS }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
  <link rel="stylesheet" href='{{ "css/collapsible.css" | absURL }}'>
</head>

<body class="font-contrail-one">
  {{ partial "navbar.html" . }}
  <main>
    {{ block "main" . }}{{ end }}
    {{ block "charts" . }}{{ end }}
    {{ block "datasets" . }}{{ end }}
    {{ block "reads" . }}{{ end }}
  </main>
  {{ block "script" . }}{{ end }}
  {{ partial "footer.html" . }}
</body>

</html>
