<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Site.Title }}</title>
  {{ template "_internal/google_analytics_async.html" . }}
  {{ $style := resources.Get "css/tailwind.pcss" | toCSS | postCSS }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
</head>

<body class="font-contrail-one flex flex-col min-h-screen">
  {{ partial "navbar.html" . }}
  <main class="flex-grow">
    {{ block "main" . }}{{ end }}
    {{ block "charts" . }}{{ end }}
    {{ block "datasets" . }}{{ end }}
    {{ block "reads" . }}{{ end }}
    {{ block "dashboards" . }}{{ end }}
    {{ block "tools" . }}{{ end }}
  </main>
  {{ partial "footer.html" . }}
  <script src='{{ "js/share.js" | absURL }}'></script>
  <script src='{{ "js/main.js" | absURL }}'></script>
  {{ block "script" . }}{{ end }}
</body>

</html>
