<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Site.Title }}</title>
  {{ template "_internal/google_analytics_async.html" . }}
  <link href="https://fonts.googleapis.com/css2?family=Contrail+One&family=PT+Sans+Narrow:400,700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href='{{ "css/style.css" | absURL }}'>
  <link rel="stylesheet" href='{{ "css/navbar.css" | absURL }}'>
  <link rel="stylesheet" href='{{ "css/footer.css" | absURL }}'>
</head>

<body>
  {{ partial "navbar.html" . }}
  {{ block "main" . }}{{ end }}
  {{ block "script" . }}{{ end }}
  {{ partial "footer.html" . }}
</body>

</html>
