{{ define "main" }}
  {{ $filename := (printf "%s.html" .File.BaseFileName) }}
  <div class="container py-12">
    <div class="iframe-container">
      <iframe src='https://data.datasketch.co/datasketch/coronavirus/viz/{{$filename}}' width="100%" height="500px"
      frameborder="0" class="iframe-embed"></iframe>
    </div>
    <button class="btn share-btn" data-chart='{ "title": "{{.Title}}", "text": "{{.Title}}", "uid": "{{$filename}}" }'>Compartir</button>
    {{ .Content }}
    {{ if .Site.DisqusShortname }}
      {{ template "_internal/disqus.html" . }}
    {{ end }}
  </div>
{{ end }}
