<footer>
  <div class="h-4 bg-no-repeat bg-cover bg-center" style='background-image: url({{ "images/footer.png" | absURL }});'></div>
  <!-- display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: #232323;
  padding: 3rem 4rem; -->
  <div class="flex flex-wrap items-center bg-mine-shaft px-16 py-12">
    <div class="w-full md:w-1/3 flex flex-col items-center text-white">
      <img src='{{ "images/logo_vertical.svg" | absURL }}' alt="Datasketch">
    </div>
    <div class="w-full md:w-1/3 flex flex-col items-center text-white">
      <p class="uppercase text-xl">Comparte</p>
      <div class="flex items-center mt-4">
        <a class="mr-4" href="https://twitter.com/datasketch" target="_blank" rel="noopener noreferrer">
          <img src='{{ "images/tw.svg" | absURL }}' alt="">
        </a>
        <a class="mr-4" href="mailto:info@datasketch.co">
          <img src='{{ "images/mail.svg" | absURL }}' alt="">
        </a>
        <a class="mr-0" href="https://es-la.facebook.com/datasketch/" target="_blank" rel="noopener noreferrer">
          <img src='{{ "images/fb.svg" | absURL }}' alt="">
        </a>
      </div>
    </div>
    <div class="w-full md:w-1/3 flex flex-col items-center text-white">
      <div class="flex items-center">
        <img class="mr-4" src='{{ "images/cc.svg" | absURL }}'>
        <img class="mr-4" src='{{ "images/by.svg" | absURL }}'>
        <img class="mr-0" src='{{ "images/sa.svg" | absURL }}'>
      </div>
      <p class="mt-4 w-64 font-pt-sans-narrow text-sm">{{ markdownify .Site.Params.footer.text }}</p>
    </div>
  </div>
</footer>
