<header
  class='header {{ if or ((eq .Section "viz") or (eq .Section "datasets")) (eq .Kind "404")}}header-page{{end}}'
>
  <nav class="flex h-full justify-between items-center px-4">
    <div class="flex justify-between items-center w-full md:w-auto">
      <a href="{{ .Site.BaseURL }}" class="inline-block">
        <img class="h-full w-auto" src='{{ "images/logo.svg" | absURL }}' alt="Datasketch">
      </a>
      <button class="text-white md:hidden">
        <svg class="w-6 fill-current" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
        </svg>
      </button>
    </div>
    <div class="hidden items-center md:flex">
      <a class="text-white mr-4 uppercase text-lg tracking-wider  px-2 py-1 hover:bg-mine-shaft" href="/viz">
        Gráficas
      </a>
      <a class="text-white mr-4 uppercase text-lg tracking-wider  px-2 py-1 hover:bg-mine-shaft" href="/datasets">
        Datasets
      </a>
      <a class="text-white mr-4 uppercase text-lg tracking-wider  px-2 py-1 hover:bg-mine-shaft" href="/reads">
        Artículos
      </a>
      {{ partial "dropdown.html" . }}
      <a class="text-white mr-4" href="https://twitter.com/datasketch" target="_blank" rel="noopener noreferrer">
        <img src='{{ "images/tw.svg" | absURL }}' alt="">
      </a>
      <a class="text-white mr-4" href="mailto:info@datasketch.co">
        <img src='{{ "images/mail.svg" | absURL }}' alt="">
      </a>
      <a class="text-white mr-0" href="https://es-la.facebook.com/datasketch/" target="_blank" rel="noopener noreferrer">
        <img src='{{ "images/fb.svg" | absURL }}' alt="">
      </a>
    </div>
  </nav>
</header>
