<div class="bg-electric-violet py-1 px-4 text-white text-xl flex justify-start items-center sm:justify-center overflow-x-auto sticky z-10 shadow-sm" style="top: 4rem">
  {{ if .Params.viz }}
    <a href="#graphs" class="uppercase mr-4 flex-shrink-0   hover:text-mine-shaft">
      Gráficas
    </a>
  {{ end }}
  {{ if .Params.datasets }}
    <a href="#datasets" class="uppercase mr-4 flex-shrink-0 hover:text-mine-shaft">
      Datasets
    </a>
  {{ end }}
  {{ if .Params.reads }}
    <a href="#reads" class="uppercase mr-4 flex-shrink-0 hover:text-mine-shaft">
      Artículos
    </a>
  {{ end }}
  {{ if .Params.dashboard }}
    <a href="#dashboards" class="uppercase mr-4 flex-shrink-0 hover:text-mine-shaft">
      Dashboards
    </a>
  {{ end }}
  {{ if .Params.tools }}
    <a href="#tools" class="uppercase mr-0 flex-shrink-0 hover:text-mine-shaft">
      Recursos
    </a>
  {{ end }}
</div>