{{ define "main" }}
<div class="hero" id="header">
  <div class="hero-inner py-16">
    <img class="max-w-full" src='{{ "images/title.svg" | absURL }}' alt="Coronavirus">
    <div class="hero-tagline">
      <h3>Datos y gráficas actualizadas</h3>
    </div>
  </div>
</div>
{{ end }}

{{ define "charts" }}
<section id="graphs">
  <div class="section-banner">
    <div class="text-right">
      <a href='{{ absURL "viz" }}' class="btn bg-white text-persian-blue">Ver todas</a>
    </div>
    <h1 class="section-title">Gráficas</h1>
  </div>
  <div class="container py-12">
    <div class="grid gap-12 grid-cols-1 md:grid-cols-2">
      {{ range index .Site.Data.home "viz" }}
        {{ partial "chart.html" . }}
      {{ end }}
    </div>
    <div class="text-center pt-12">
      <a href='{{ absURL "viz" }}' class="btn bg-persian-blue text-white text-2xl">Ver todas</a>
    </div>
  </div>
</section>
{{ end }}

{{ define "datasets" }}
<section id="datasets">
  <div class="section-banner">
    <div class="text-right">
      <a href='{{ absURL "datasets" }}' class="btn bg-white text-electric-violet">Ver todos</a>
    </div>
    <h1 class="section-title">Datasets</h1>
  </div>
  <div class="container py-12">
    <div class="grid gap-12 grid-cols-1 md:grid-cols-3 lg:grid-cols-4">
      {{ range index .Site.Data.home "datasets" }}
        {{ partial "dataset.html" . }}
      {{ end }}
    </div>
    <div class="text-center pt-12">
      <a href='{{ absURL "datasets" }}' class="btn bg-electric-violet text-white text-2xl">Ver todos</a>
    </div>
  </div>
</section>
{{ end }}

{{ define "reads" }}
<section id="reads">
  <div class="section-banner">
    <div class="text-right">
      <a href='{{ absURL "reads" }}' class="btn bg-white text-rose">Ver todos</a>
    </div>
    <h1 class="section-title">Artículos</h1>
  </div>
  <div class="container py-12">
    <div class="grid gap-12 grid-cols-1 md:grid-cols-3 lg:grid-cols-4">
      {{ range index .Site.Data.home "reads" }}
        {{ partial "read.html" . }}
      {{ end }}
    </div>
    <div class="text-center pt-12">
      <a href='{{ absURL "reads" }}' class="btn bg-rose text-white text-2xl">Ver todos</a>
    </div>
  </div>
</section>
{{ end }}

{{ define "dashboards" }}
<section id="dashboards">
  <div class="section-banner">
    <div class="text-right">
      <a href='{{ absURL "dashboards" }}' class="btn bg-white text-persian-blue">Ver todos</a>
    </div>
    <h1 class="section-title">Dashboards</h1>
  </div>
  <div class="container py-12">
    <div class="grid gap-12 grid-cols-1 md:grid-cols-3 lg:grid-cols-4">
      {{ range index .Site.Data.home "dashboards" }}
        {{ partial "dashboard.html" . }}
      {{ end }}
    </div>
    <div class="text-center pt-12">
      <a href='{{ absURL "dashboards" }}' class="btn bg-persian-blue text-white text-2xl">Ver todos</a>
    </div>
  </div>
</section>
{{ end }}

{{ define "tools" }}
<section id="tools">
  <div class="section-banner">
    <div class="text-right">
      <a href='{{ absURL "tools" }}' class="btn bg-white text-rose">Ver todos</a>
    </div>
    <h1 class="section-title">Recursos</h1>
  </div>
  <div class="container py-12">
    <div class="grid gap-12 grid-cols-1 md:grid-cols-3 lg:grid-cols-4">
      {{ range index .Site.Data.home "tools" }}
        {{ partial "tool.html" . }}
      {{ end }}
    </div>
    <div class="text-center pt-12">
      <a href='{{ absURL "tools" }}' class="btn bg-rose text-white text-2xl">Ver todos</a>
    </div>
  </div>
</section>
{{ end }}
